{% load static %}
 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'css/custom.css' %}">
 <script src="https://Kit.fontawesome.com/a076d05399.js"></script>

<div class="container">
  <nav class="nav home_icon">
        <b class="card btn btn-success"><a style="color:red;" class="nav-link active" aria-current="page" href="/">Home</a></b>
<!--  <a class="nav-link" href="#">Link</a>-->
<!--  <a class="nav-link" href="#">Link</a>-->
<!--  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
</nav>
</div>

<div class="container">
<form action="bot" method="post">
<h4 class="bot_heading" style="text-align:center;">BOTS</h4>

    <p><b>Telegram Bots</b></p>

<div class="card" style="width: 30rem;">
  <img src="{% static 'images/code.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bot Repository / Source Code</h5>
      <ul class="card-text">
          <li><h4><a class="code_link" href="https://github.com/Clinton-Abraham/UPLOAD_X_BOT">UPLOAD-X-BOT</a></h4></li>
          <li><h4><a class="code_link" href="https://github.com/Clinton-Abraham/ANYDL-X3-BOT">ANYDL-X3-BOT</a></h4></li>
      </ul>
    <a href="https://github.com/Clinton-Abraham" class="btn btn-danger">My Github Account</a>
  </div>
</div>


</form>
</div>